@model List<NTierApp.DTOs.ProductListDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <table class="table table-hover table-striped mx-auto w-75">
        <thead>
            <tr>
                <th>Id </th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    

    </table>
</div>
